.container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 1.5rem;
}

.bg__home {
    position: relative;

}

.bg__home::before {
    content: "";
    display: block;
    position: absolute;
    background-image: linear-gradient(to bottom, rgba(6,18,30, .1), #06121e), url("/src/img/bg.svg");
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    opacity: 0.9;
}

.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 14px;
    color: $white-normal;
    min-height: 80vh;

    h1 {
        text-align: center;
        line-height: 150%;
        max-width: 940px;
        font-size: 46px;
    }

    p {
        text-align: center;
        margin: 14px 0;
    }
}

.button-contact {
    padding: 14px 28px;
    color: $white-normal;
    background-color: $red-normal;
    border: 0;
    border-radius: 4px;
    font-size: 18px;
    font-weight: 600;
    margin: 14px 0;
    transition: .5s;
}

.button-contact:hover {
    animation: scaleButton .75s infinite alternate;
}

@keyframes scaleButton {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.05);
    }
}

@media screen and (max-width:768px) {
    .hero {
        min-height: 60vh;

        h1 {
            font-size: 34px;
            padding: 0 14px;
            width: 100%;
        }

        p {
            font-size: 14px;
        }
    }
}

@media screen and (max-width:480px) {
    .hero h1 {
        font-size: 24px;
    }
}

.about {
    background-color: $primary-normal;
    overflow: hidden;
    color: $white-normal;
}

.about-content {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 14px;
    padding: 2rem 2rem 4rem 2rem;

    img {
        max-width: 525px;
    }
}

.about-content div {
    flex: 1;
}

.about-description {
    h2 {
        font-size: 38px;
        margin-bottom: 24px;
    }

    p {
        margin-bottom: 14px;
        line-height: 150%;
    }
}

@media screen and (max-width:768px) {
    .about-content {
        flex-direction: column;
    }
}

.services {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: $white-normal;
    color: $black-normal;
    padding: 3.5rem 1rem;
}

.services-content {
    h2 {
        text-transform: uppercase;
        text-align: center;
        font-size: 38px;
        margin-bottom: 14px;
    }

    p {
        text-align: center;
        line-height: 150%;
        margin-bottom: 14px;
        max-width: 780px;
    }
}

.haircuts {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: 0 44px 34px 44px;
}

.haircut {
    display: flex;
    flex-direction: column;
    flex: 1;
    background-color: $white-normal;
    border-radius: 8px;
    box-shadow: 0 -1px 17px -4px rgba(0,0,0, .5);
    overflow: hidden;

    img {
        width: 100%;
        max-width: 354px;
        transition: .25s;
    }
}

.haircut img:hover {
    transform: scale(1.15);
    z-index: 1;
}

.haircut-info {
    display: flex;
    justify-content: space-between;
    padding: 14px;
    background-color: $white-normal;
    width: 100%;
    z-index: 9;
}

.haircut-info button {
    color: $white-normal;
    background-color: $red-normal;
    border: 0;
    border-radius: 4px;
    padding: 4px 8px;
    cursor: default;
}

@media screen and (max-width:768px) {
    .haircuts {
        flex-direction: column;
    }

    .haircut img{
        max-width: 740px;
    }
}

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 54px 0;
    gap: 24px;
    color: $white-normal;
}

.footer-icons {
    display: flex;
    gap: 12px;
}

.footer p {
    font-size: 14px;
}

.btn-whatsapp {
    position: fixed;
    display: flex;
    bottom: 14px;
    right: 20px;
    z-index: 99;

    img {
        max-width: 58px;
        transition: .3s;
    }

    img:hover {
        transform: scale(1.1);
    }
}

.btn-whatsapp .tooltip-text {
    visibility: hidden;
    position: absolute;
    width: 120px;
    left: -134px;
    background-color: $black-normal;
    color: $white-normal;
    font-size: 14px;
    padding: 6px;
    border-radius: 8px;
    text-align: center;
    opacity: 0;
    transition: .5s;
}

.btn-whatsapp:hover {
    .tooltip-text {
        visibility: visible;
        opacity: 1;
    }
}

@media screen and (max-width:768px) {
    .btn-whatsapp {
        img {
            max-width: 54px;
        }
    }
}